@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/**
 * Holo theme for reveal.js.
 * 
 * Copyright (C) 2020 Michel Combes
 */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #f2d7f3;
  background: -moz-radial-gradient(center, circle cover, white 0%, #f2d7f3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f2d7f3));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #f2d7f3 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #f2d7f3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f2d7f3 100%);
  background: radial-gradient(center, circle cover, white 0%, #f2d7f3 100%);
  background-color: #f7f3de;
}

.reveal {
  font-family: "Lato", sans-serif, Times, "Times New Roman", serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #333333;
}

::selection {
  color: white;
  background: rgba(79, 64, 28, 0.99);
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333344;
  font-family: "Oswald", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
}

.reveal h1 {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #8b743d;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #c0a86e;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #564826;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333344;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #8b743d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #8b743d;
}

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #8b743d;
}

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #8b743d;
}

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #8b743d;
}

.reveal .controls div.left.enabled:hover {
  border-right-color: #c0a86e;
}

.reveal .controls div.right.enabled:hover {
  border-left-color: #c0a86e;
}

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #c0a86e;
}

.reveal .controls div.down.enabled:hover {
  border-top-color: #c0a86e;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #8b743d;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
