<style>
body {
 background-image: URL(https://source.unsplash.com/random?backgrounds,colors,gradient);
 background-size: cover 100%;
}
div.content {
  padding: 1rem;
  background-color: white;
  opacity: 0.98;
  margin: auto;
  max-width: 720px;
  min-height: 50vh;
}
</style>

<div class=content>
 <div class=illust><img src=></div>
 <div class=md>
  <code><pre>#Hello World
  </pre><code>
 </div>
</diV>
